%h1 ReservationFrames#index
%p Find me in app/views/reservation_frames/index.html.erb
= flash[:notice]
= flash[:alert]
- if signed_in?
  = render 'sessions/signed_in'
- else
  = render 'sessions/not_signed_in'
  %h1 登録
  %div= link_to "プランナー登録", new_planner_path
