<h1>not logined</h1>
<center>
  <h1>ログイン</h1>
  <%= form_for(:client, url: clients_path) do |f| %>
    <div>
      <%= f.label :email, "メール" %>
      <p><%= f.email_field :email %></p>
    </div>
    <div>
      <%= f.label :password, "パスワード" %>
      <p><%= f.password_field :password, required: true%></P>
    </div>
    <div>
      <%= f.submit "サインイン" %>
    </div>
  <% end %>

  <h1>登録</h1>
  <div><%= link_to "ここから", new_client_path%></div>
</center>
