<h1>Reservations#index</h1>
<p>Find me in app/views/reservations/index.html.erb</p>
<%= flash[:notice] %>
<%= flash[:alert] %>
<% if signed_in? %>
  <%= render 'sessions/signed_in' %>
<% else %>
  <%= render 'sessions/not_signed_in' %>
  <h1>登録</h1>
  <div><%= link_to "ユーザー登録", new_client_path%></div>
<% end %>
